version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: go-ecommerce-app
    restart: unless-stopped
    environment:
      APP_ENV: dev
      GIN_MODE: release
    ports:
      - "8080:8080"
    depends_on:
      mysql:
        condition: service_healthy
      redis:
        condition: service_started
      maildev:
        condition: service_started
    networks:
      - app-net

  mysql:
    image: mysql:8.0
    container_name: go-ecommerce-mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: shopDev
    ports:
      - "33306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    command: ["--default-authentication-plugin=mysql_native_password"]
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-proot"]
      interval: 5s
      timeout: 3s
      retries: 10
    networks:
      - app-net

  redis:
    image: redis:7-alpine
    container_name: go-ecommerce-redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    command: ["redis-server", "--appendonly", "yes"]
    networks:
      - app-net

  maildev:
    image: maildev/maildev
    container_name: go-ecommerce-maildev
    restart: unless-stopped
    ports:
      - "1025:1025" # SMTP
      - "1080:1080" # Web UI
    networks:
      - app-net

volumes:
  mysql_data:

networks:
  app-net:
    driver: bridge

